$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: url('../images/noteshandpenlight.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  font-size: 20px;
  font-weight: bold;
}

.logged-in {
  font-size: 24px;
  font-weight: bold;
}

#limit {
  max-width: 500px;
}
